# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [4]:
# Your code here:
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [5]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [7]:
# Your code here:
salaries['Salary or Hourly'].value_counts()

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [8]:
# Your code here:
salaries.Department.value_counts()

POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [9]:
# Your code here:
import numpy as np
from scipy.stats import ttest_1samp

In [ ]:
# Your code here:

# Two-sided test:
# H0: hourly wage of all hourly workers  = $30/hr
# H1: hourly wage of all hourly workers is significantly different, != $33hr

In [31]:
hourly_workers = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']
hourly_employees

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.00
5,"AGNEW, ANTONIO E",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
15,"AGSALUD, FERNAN S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,40.78
16,"AGSALUD JR, JUANITO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
21,"AGUAYO, LUIS M",LABORER - APPRENTICE,WATER MGMNT,F,Hourly,40.0,NaN,34.98
...,...,...,...,...,...,...,...,...
33676,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,25.95
33678,"ZUNO, ERIK",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,43.72
33681,"ZURAWSKI, JEFFREY",FRM OF MACHINISTS - AUTOMOTIVE,DAIS,F,Hourly,40.0,NaN,51.43
33684,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,PUBLIC SAFETY ADMIN,F,Hourly,40.0,NaN,49.35
33688,"ZWARYCZ, THOMAS J",MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,37.45

In [33]:
hourly_employees['Hourly Rate'] = hourly_employees['Hourly Rate'].astype(float)

In [34]:
hourly_employees.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8174 entries, 2 to 33688
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               8174 non-null   object
 1   Job Titles         8174 non-null   object
 2   Department         8174 non-null   object
 3   Full or Part-Time  8174 non-null   object
 4   Salary or Hourly   8174 non-null   object
 5   Typical Hours      8174 non-null   float64
 6   Annual Salary      0 non-null      float64
 7   Hourly Rate        8174 non-null   float64
dtypes: float64(3), object(5)
memory usage: 574.7+ KB

In [35]:
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(hourly_employees['Hourly Rate'], 30)

In [36]:
print('stat is  ', stat)
print('P-value for the two-tailed test is ', pval)

stat is   31.211500329216044
P-value for the two-tailed test is  3.825475847673794e-202

#### Answer:
The P-value is less than 0.05, which means we reject H0:(hourly wage of all hourly workers = $32/hr)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [ ]:
# Your code here:
# One-sided test:
# H0: mean of police's salaries this year are <= $86000/year
# H1: mean of police's salaries this year are > $86000/year

In [37]:
type_d = ['POLICE']
police_salary = salaries[salaries['Department'].isin(type_d) & salaries['Annual Salary']]
police_salary

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
6,"AGNEW, MELISSA M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
7,"AGOSTA, JOSEPH J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,103932.0,NaN
9,"AGOSTINI, LUIS R",ASST DIR,POLICE,F,Salary,NaN,95736.0,NaN
...,...,...,...,...,...,...,...,...
33696,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
33697,"ZYLINSKA, KLAUDIA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33698,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33699,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33700,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

In [39]:
stat, pval = ttest_1samp(police_salary['Annual Salary'], 86000)

print('stat is  ', stat)
print('P-value for the one-tailed test is ', pval/2)

stat is   18.51748561981861
P-value for the one-tailed test is  6.119566952121482e-76

#### Answer: The P-value is less than 0.05, which means we reject  (mean of police's salaries this year are <= $86000/year) Using the crosstab function, find the department that has the most hourly workers.

In [30]:
# Your code here:
dep_most = pd.crosstab(hourly_employees['Department'], hourly_employees['Salary or Hourly'], margins = False).sort_values(by = 'Hourly', ascending = False)
dep_most.head(1)

Salary or Hourly  Hourly
Department
STREETS & SAN       1846

##### The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [40]:
# Your code here:

#H0: salary value >= 35
#H1: salary value < 35

most_dep_workers = hourly_employees[hourly_employees['Department'] == 'STREETS & SAN']
most_dep_workers.shape

(1846, 8)

In [41]:
stat, pval = ttest_1samp(most_dep_workers['Hourly Rate'], 35)

print('stat is  ', stat)
print('P-value for the one-tailed test is ', pval/2)

stat is   4.000138803968834
P-value for the one-tailed test is  3.2902372218867895e-05

#### Reject  salary value >= 35

Using the `crosstab` function, find the department that has the most hourly workers.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [42]:
# Your code here:
import scipy.stats

confidence_level = 0.95
degrees_freedom = len(hourly_employees['Hourly Rate']) - 1  
sample_mean = np.mean(hourly_employees['Hourly Rate'])

sample_standard_error = scipy.stats.sem(hourly_employees['Hourly Rate'])

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

print( 'Confidence interval is ', confidence_interval, '.' )

Confidence interval is  (34.29839539204361, 34.874504045197305) .

#### Based on our confidence interval values, the salary of hourly workers between 34.3 and 34.87 . Thus confirming the  hypothesis above (hourly wage of all hourly workers is significantly different != $30/hr)

In [43]:
# Your code here:

confidence_level = 0.95
degrees_freedom = len(police_salary['Annual Salary']) - 1  
sample_standard_error = scipy.stats.sem(police_salary['Annual Salary'])

sample_mean=np.mean(police_salary['Annual Salary']) 

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print( 'Confidence interval is ', confidence_interval, '.' )

Confidence interval is  (88534.1182885883, 89134.11955863392) .

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [17]:
# Your code here:
t.interval(0.95,len(police_salary)-1,loc=police_salary.mean(),scale=stats.sem(police_salary))

(88534.1182885883, 89134.11955863392)

##### CONFIDENCE INTERVAL IS (88534.1182885883, 89134.11955863392)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [18]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

proportions_ztest(salaries[salaries['Salary or Hourly'] == 'Salary']['Salary or Hourly'].count(),
                  len(salaries['Salary or Hourly']),0.75)

(3.196245387033488, 0.0013922864704323692)

In [19]:
(salaries[salaries['Salary or Hourly'] == 'Salary']['Salary or Hourly'].count())/(salaries['Salary or Hourly'].count())

0.7574624651356002